<!DOCTYPE html>
<html>
  <head>
    <title>TaskApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <h1>
      <%= link_to "TaskApp","/", class:"headline" %>
    </h1>
    <ul class = "nav-list"></ul>
      <li class="nav-list-item"><%= link_to "Tasks",tasks_path, class:"list-item" %></li>
      <li class="nav-list-item"><%= link_to "New Task",new_task_path, class:"list-item" %></li>
  </header>

    <%= yield %>
  </body>
</html>
